*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/markdown-exported-files.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/markdown-navigator.xml
.idea/markdown-navigator/
